tr#ticket-class-history-total {
    background: #6b6bae;
    color: #fff;
    font-weight: 800;
}

/* DDS,LLC. 12.2.18. NEW. Uses Donation form - puts month/year Credit card in one line */
select#ccExp_YEAR, select#ccExp_MONTH {
    width: auto !important;
    display: inline-block !important;
    border: 1px solid #fefefe;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #e5dede inset;
    padding: 5px 7px;
    margin-bottom: 5px;
    background: white;
    width: 80px;
    height: 28px;
}



input[type="text"], input[type="password"], input[type="email"], textarea, select {
    display: block;
    width: 100%;
    border-radius: 0 !important;
    border: 1px solid #e2e2e2;
    box-shadow: 0;
    background: #fff;
    padding: 4px;
    margin: 1px;
    border-radius: 5px !important;
}