
/* Register event 
 see this link: https://secure3.convio.net/pnfou/site/Ticketing?view=Tickets&id=100681
*/

/* Donor Database Support, LLC added this per PNF (Amy Homestead) 7/10/2020 */
/* hide the event header title */
div#lo-EventAvailableTitle {
    display: none;
}

/* hide event additional Gift div*/
div.lo-EventAdditionalGift {
    padding: 0px;
    margin: 2px 0px 2px 0px;
    width: 100%;
    display: none;
}
/* hide */
#tix-total-amount-outer-div {
    display: none;
}
/* head background */
th.lc_Heading, th.lc_HeadingSort {
    background-color: #7f5fcf;
    color: #fff;
}
/*main menu background - to match main fnd */
.navbar-inverse {
    border-left: 0;
    background: #7f5fcf;
    border-color: #7f5fcf;
    border-radius: 0;
}