<style type="text/css"> 

/* ************* logo *************  */
#logo {
    /* background: #fff; */
    /* border-bottom: 4px solid #f0b323; */
    padding: 20px;
    margin-bottom: -20px;
    margin-top: 0;
    position: relative;
    z-index: 999;
    height: 85%;
    overflow: hidden;
}

/* *************  Navigation bar ************* */
.navbar-inverse {
    border-left: 0;
        border-left-color: currentcolor;
    background: #4b3789; /* ********* PNF corp color ********* */
    border-color: #1c50e0;
    border-radius: 0;


/* **************** hover header ***************** */

navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {

    color: #fff;
    background-color: #6e3ff5;
    text-decoration: underline;
    font-weight: bold;
    border-radius: 13%;


/*********** background color **************/
.navbar-inverse {
    border-left: 0;
    background: #4d1870;
    border-color: #9e91c6;
    border-radius: 0;
    font-weight: bolder;
    text-decoration: none !important;
}

/***** login buton *********************/
button.btn-success, a.btn-success {
    background: #4d1870;
    color: #ffffff;
    border-radius: 0;
    font-weight: bolder;
}


/*****  Hide Event title/date/time/Location  ********/       
div.lo-CalendarDateInfoContainer {
    display: none;
}

/*************** logo *************** 
#logo {
    /* background: #fff; */
    /* border-bottom: 4px solid #f0b323; */
    padding: 20px;
    margin-bottom: -20px;
    margin-top: 0;
    position: relative;
    z-index: 999;
    height: 85%;
    overflow: hidden;
}

/****** event title ****/
h2#lo-EventTitle, p.subheading {
    font-weight: bolder;
    color: #000000;
}


/************ Subheading **********/
p.subheading {
      font-weight: bolder;
    color: #000000;
}


/**** hide: Please specify the number of guests, including yourself, that will attend: **********/
#RSVPGuestNumberContainer, .appArea label, .appArea input{
display:none;
}
.appArea table label, .appArea table input{
display:inline;
}

 /***** NOTE: use Editing life CSS file when using these snippets ****************/


/**** Header background color: org logo,menu,login, social Icon:  use in wrapper   *********/
#header {
background: #9e91c6;
}


/**********  Add this to Social media icon: added to CustomStyle.css   ************/
#utility #nav-social-icons li a, #RTVirtualConnect #nav-social-icons li a {
    margin: 12px 4px 0;
    width: 35px;
    height: 35px;
    border: 2px solid #82afde;
    border-radius: 50%;
    font-size: 2rem;
    padding: 6px;
    text-align: center;
    font-family: 'FontAwesome';
    background-color:whitesmoke
}

/**** fixes margin issues with social icon - PUSHes down ********/
#utility #nav-social-icons li a {
    margin: 30px 4px;
    width: 35px;
    height: 35px;
    border: 2px solid #385e9d;
    border-radius: 50%;
    font-size: 2rem;
    padding: 6px;
    text-align: center;
    color: #385e9d;


/********** Org logo: use in wrapper ************************** */

#logo {
    background: #fff;
    border-bottom: 4px solid #5a078fb8;
    padding: 20px;
    margin-bottom: -20px;
    margin-top: 0;
    position: relative;
    z-index: 999;
    height: 90%;
    overflow: hidden;
   }

/**** Font-weight/text-decoration: Main menu register, donate, contact ****/
.navbar-inverse .navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    font-weight: 550;
}

/**** NOT WORKING: Mouse Hover: Main menu register, donate, contact ****/
.navbar-inverse .navbar-nav>li>a hover {
    background: blue;
}


</style> 

 